html{
    height: 100%;
    background: radial-gradient(circle, #ffff, #b2d9ee );
    background: -moz-radial-gradient(circle, #ffff, #b2d9ee );
    background: -webkit-radial-gradient(circle, #ffff, #b2d9ee );
    background: -o-radial-gradient(circle, #ffff, #b2d9ee );
    
}
#container{
    height: 400px;
    width: 550px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 2px #009de4;
    -moz-box-shadow: 0px 4px 0px 2px #009de4;
    -webkit-box-shadow: 0px 4px 0px 2px #009de4;
    /*  box-shadow: (horizontal offset) (vertical offset) (blur radius) (optional spread radius) (color)*/
    position: relative;
}
.home{ 
    float: right ;
    padding: 5px;
    margin-top: -60px;
    margin-right: 30px;
    border-radius: 4px;
    border: #3498db;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    position: sticky;
}
.home:hover{
    background-color:#0674be ;
}
.text{
    position: absolute;
    padding-left: 210px;
    margin: -30px;
    color: #208cd4;
    font-size: 35px;
}
#score{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 10px;
    position: absolute;
    left: 500px;
    box-shadow: 0px 4px 0px #9da853;
    -moz-box-shadow: 0px 4px 0px #9da853;
    -webkit-box-shadow: 0px 4px 0px #9da853;

}  
#correct{
    position: absolute;
    left: 260px;
    background-color: #42e252;
    color: white;
    padding: 10px;
    display: none;
} 
#wrong{
    position: absolute;
    left: 250px;
    background-color: #de401a;
    color: white ;
    padding: 10px;
    display: none;
}
#question{
    width: 450px;
    height: 150px;
    margin: 50px auto 10px auto ;
    background-color: #9DA0EA;
    box-shadow: 0px 4px #535aaB;
    -moz-box-shadow: 0px 4px #535aaB;
    -webkit-box-shadow: 0px 4px #535aaB;
    font-size: 110px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;


} 
#instruction{
    width: 450px;
    height: 50px;
    background-color: #B481D9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px #8153aB;
    -moz-box-shadow: 0px 4px #8153aB;
    -webkit-box-shadow: 0px 4px #8153aB;
}
#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
}
.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px ;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(70, 8, 8, 0.2);
    -moz-box-shadow: 0px 4px rgba(70, 8, 8, 0.2);
    -webkit-box-shadow: 0px 4px rgba(70, 8, 8, 0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}
.box:hover, #startreset:hover{
    background-color: #9C89F6; 
    color: white;
    box-shadow: 0px 4px #6b54d3;
    -moz-box-shadow: 0px 4px #6b54d3;
    -webkit-box-shadow: 0px 4px #6b54d3;

}
.box:active, #startreset:active{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    top: 4px;


}
#box4{
    margin-right: 0;
}
#startreset{
    width: 78px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(70, 8, 8, 0.2);
    -moz-box-shadow: 0px 4px rgba(70, 8, 8, 0.2);
    -webkit-box-shadow: 0px 4px rgba(70, 8, 8, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}
#timeremaining{
    width: 152px;
    padding: 10px;
    position: absolute;
    top: 395px;
    left: 400px;
    background-color: rgba(181, 235,36,0.78);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    /* visibility: hidden; */
    display: none;
}
#gameover{
    height: 200px;
    width: 500px;
    background: linear-gradient(#F3CA6B,#F3706C);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;


}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33, #ffffffff);
    text-align: center;
    position: absolute;
    
}
.c1{
    top:100px;
    left:40px;
    
}
.c2{
    bottom:100px;
    right: 50px;
    
}
.c1  p {
    margin: -10px;
    text-align:center;
    font-size:200px;
    color: #8ec4e6;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.c2  p {
    margin: -10px;
    text-align:center;
    font-size:200px;
    color: #8ec4e6;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
